$color-background: #252525;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: #666;
$color-link: rgba(225, 40, 133, 1);
$color-text: #bec8d1;
$color-accent-3: #31e6f0;
$color-accent-2: #31e6f0;
$color-accent-1: #f3008e;
$color-quote: #f3008e;
